body{
  font-family: 'Inter', sans-serif;
}
/* shared styles */
.display-flex{
  display: flex;
}
.bg-color{
  background-color: rgba(17, 17, 17, 1);
} 
.text-nav{
  color:rgba(255, 255, 255, 1) ;
}
.text-primary{
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
  font-weight: 800;
}
.text-BMI{
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  font-weight: 800;
}
.text-secondary{
  font-size: 1rem;
  font-weight: 400;
  color:rgba(255, 255, 255, 0.5) ;
}
.btn{
   border-radius: 42px;
  padding: 16px 40px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  
}
.btn-primary{
  background-color: rgba(230, 83, 60, 1);
  color: rgba(255, 255, 255, 1);
  margin-right: 14px;

}
.btn-secondary{
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  
}
/* header styles */
/* navbar related styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 800;
  font-size: 2.25rem;
  color: rgba(230, 83, 60, 1);
  font-style: italic;
}
.nav-item{
list-style: none;
margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 400px;
  font-size: 18px;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.rounded-box{
  background-color: rgba(230, 83, 60, 1);
  padding: 8px 20px; 
  border-radius: 46px; 
}
/* banner styles */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.banner-content{
  max-width: 50%;
 }
h1 {
  font-size: 4.5em;
  color: rgba(255, 255, 255, 1);
}
.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}

.italic {
  font-family: 'Grey Qo', sans-serif; 
  font-style: italic;
}
.hamburge-menu{
  display: none;
}
.buttons {
  margin-top: 20px;
}
.banner-img{
  position: relative;
}
.badge {
  position: absolute;
  background-color: rgba(48, 48, 48, 0.54);
  border-radius: 12px;
  padding: 15px 20px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
}
.badge1 {
  top: 20%;
  right: 0;
  width: 120px;
}

.badge2 {
  bottom: 15%;
  left: 0;
  width: 120px;
 
}

.badge span {
  font-size: 0.5em;
  color:rgba(255, 255, 255, 1);
}
.hamburger-menu{
  display: none;
}
/* habit changes related styles */
.title-container{
  padding-top: 30px;
  text-align: center;
  background-color: black;
  
  
}
.section-title{
  
  margin-bottom: 2px;
  border-bottom: 1px solid tomato;
}
/* 4 habits related styles */
.habits-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 70px;
  margin-left: 20px;
}
.habit{
 
    width: 230px;
    height: 270px;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}
.habit-img{
  border-radius: 100px;
}
.habit-description{
  margin-top: 2px;
}

.habit-title{
  margin-bottom:0;
}
/* run extra mile related styles */
.run-banner{
  
  justify-content: space-between;
  align-items: center;
  background-color: rgba(34, 34, 34, 1);
  
  margin: 50px 50px;
  padding: 40px;
  border-radius: 10px;
  margin-top: 80px;
}
.run-content{
  width: 500px;
  max-width: 100%;
  text-align: left;

}
.run-title{
  margin-bottom: 0;
  margin-top: 2px;
}

.run-img img{
  width: 380px;
  border-radius: 10px;
  
}
.run-btn{
  padding: 16px 40px;
  width: 225px;
  border: none;
}
/* BMI chart and form related styles */

.chart-title{
  margin-bottom: 0;
  
}
.BMItag-container{
  text-align: left;
  margin-left: 580px;
  margin-bottom: 70px;
  width: 676px;
  }
.BMI-content{
  justify-content: space-between;
  background-color: rgba(34, 34, 34, 1);
  padding: 20px;

}
.chart, .form {
  width: 45%;
}
table {
  width: 310px;
  border-collapse: collapse;
  margin-left: 200px;
}

table, th, td {
  border: 2px solid rgba(255, 255, 255, 0.1);
}

th, td {
  padding: 10px;
  text-align: left;
}

.form {
  text-align: left;
  width: 577px;
  height: 386px;
  margin-right: 200px;
}

.form-description,
.form-row {
    width: 100%;
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    gap: 20px; 
}

input,
select {
    flex: 1; 
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
}
  


.form-description,
.form-row {
  width: 100%;
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  gap: 20px; 
}

input,
select {
  flex: 1; 
  padding: 10px;
  background-color: #444;
  border: 1px solid #555;
  border-radius: 4px;
  color: #fff;
}
/* meet or team related styles */
.team-title {
  margin-bottom: 0;
}
.team-description{
  margin-bottom: 50px;
}
.member-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1060px;

  justify-content: center;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.1);
  gap: 10px;
  padding: 20px;
}

.member {
  position: relative;
  text-align: center;
}

.member img {
  width: 326px;
  height: 275px;
  border-radius: 18px;
  display: block;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 10px;
  border-radius: 18px;
  
}

.info h5 {
  margin-bottom: 0;
  font-weight: 800;
}
.info p {
  margin-top: 5px;
  font-weight: 600;
}

